<template>
  <modal name="example"
         height="auto"
         width="800"
         :minHeight=500
         :scrollable="true"
         @before-open="beforeOpen">
    <div class="ui grid">
      <div class="row in wrapper">
        <div class="two wide column"></div>
        <div class="twelve wide column in wrapper">
          <h2>
            {{ riskType.name }}
          </h2>
          <hr />
        </div>
      </div>

      <div class="row">
        <div class="two wide column"></div>
        <div class="twelve wide column in wrapper">
          <form class="ui large form">
            <div class="ui raised secondary segment">
              <risk-type-field v-for="field in riskType.fields" :key="field.id" v-bind:field="field"></risk-type-field>
            </div>
          </form>
        </div>
      </div>
    </div>
  </modal>
</template>

<script type = "text/javascript">

import RiskTypeField from '../fields/RiskTypeField'

export default {
  data: () => ({
    riskType: {
      name: {},
      fields: [
        {}
      ]
    }
  }),
  methods: {
    beforeOpen (event) {
      this.riskType = event.params.riskType
    }
  },
  components: {
    RiskTypeField
  }
}

</script>
