#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
}

.column.no.menu {
  margin-top: 60px;
}

.column.in.wrapper {
  padding: 10px;
}

.inverted-calendar {
  transform: translate(90%, -100%);
}
