<template>
  <div class="ui three column centered grid">
    <div class="row">
      <top-menu></top-menu>
    </div>
    <div class="two wide column"></div>
    <div class="twelve wide column">
      <h2 class="ui header">
        Manage your assets type
        <div class="sub header">
          Click on the asset card to change or view it
        </div>
      </h2>
      <hr />
      <div class="ui link four cards">
        <risk-type
          v-on:view-risk-type="modalShow"
          v-for="riskType in riskTypes.items"
          :key="riskType.id"
          v-bind:riskType="riskType">
        </risk-type>
      </div>
    </div>
    <div class="two wide column"></div>
    <risk-type-form></risk-type-form>
  </div>
</template>

<script type = "text/javascript">

import TopMenu from '../fragments/TopMenu'
import RiskType from '../fragments/RiskTypeCard'
import RiskTypeForm from '../forms/RiskTypeForm'

import { getAllRiskTypes } from '../../services/user'

export default {
  props: ['store'],
  data: () => ({
    riskTypes: {
      items: []
    }
  }),
  methods: {
    modalShow (riskType) {
      this.$modal.show('example', { riskType: riskType })
    },
    loadRiskTypes () {
      getAllRiskTypes(this.store.userToken())
        .then(response => response.data)
        .then(data => {
          this.riskTypes.items = data.risk_types
        })
        .catch(function (error) {
          console.log(error)
        })
    }
  },
  created () {
    this.loadRiskTypes()
  },
  components: {
    TopMenu,
    RiskType,
    RiskTypeForm
  }
}
</script>
