<template>
    <div class="ui three column centered grid">
      <div class="column no menu">
        <h2 class="ui center aligned icon header">
          <i class="power icon" />
          <div class="content">
            Log-in to your account
          </div>
        </h2>
        <form id="login-form" class="ui large form" @submit.prevent="validateBeforeSubmit">
          <div class="ui raised secondary segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="mail icon"></i>
                <input type="email" name="email" placeholder="E-mail address" v-validate="'required|email'" v-model="credentials.email">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="Password" v-validate="'required'" v-model="credentials.password">
              </div>
            </div>
            <div class="ui fluid large teal submit button" @click="submit()">Login</div>
          </div>
        </form>

        <error-list v-bind:form_errors="form_errors"></error-list>

        <div class="ui message">
          <div class="content">
            New here? <router-link to="signup">Register</router-link>
          </div>
        </div>
      </div>
    </div>
</template>

<script type = "text/javascript">

import Vue from 'vue'
import VeeValidate from 'vee-validate'
import ErrorList from '../fragments/ErrorList'
import { login as doLogin } from '../../services/auth'

Vue.use(VeeValidate)

export default {
  props: ['store'],
  data: () => ({
    credentials: {
      email: '',
      password: ''
    }
  }),
  computed: {
    form_errors: function () {
      return this.$validator.errors
    }
  },
  methods: {
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (!result) {
          return false
        }
      })
    },
    submit () {
      const credentials = new FormData(document.getElementById('login-form'))
      this.$parent.startLoading()
      doLogin(credentials)
        .then(response => response.data)
        .then(data => {
          this.$parent.stopLoading()
          this.store.storeCredentials(data)
          this.$router.push('/home')
        })
        .catch(function (error) {
          console.log(error)
        })
    }
  },
  components: {
    ErrorList
  }
}

</script>
