<template>
    <div class="ui three column centered grid">
      <div class="column no menu">
        <h2 class="ui center aligned icon header">
          <i class="user icon" />
          <div class="content centered">
            Create your account
          </div>
        </h2>
        <form class="ui large form" @submit.prevent="validateBeforeSubmit">
          <div class="ui raised secondary segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" name="name" placeholder="Your name" v-validate="'required|alpha_spaces|min:3'" v-model="new_user.name">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="mail icon"></i>
                <input type="email" name="email" placeholder="E-mail address" v-validate="'required|email'" v-model="new_user.email">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="Password" v-validate="'required'" v-model="new_user.password">
              </div>
            </div>
            <div class="ui fluid large teal submit button">Create</div>
          </div>
        </form>

        <error-list v-bind:form_errors="form_errors"></error-list>

        <div class="ui message">
          Already have an account? <router-link to="login">Sign in</router-link>
        </div>
      </div>
    </div>
</template>

<script type = "text/javascript">

import Vue from 'vue'
import VeeValidate from 'vee-validate'
import ErrorList from './ErrorList'

Vue.use(VeeValidate)

export default {
  data: () => ({
    new_user: {
      email: '',
      name: '',
      password: ''
    }
  }),
  computed: {
    form_errors: function () {
      return this.$validator.errors
    }
  },
  methods: {
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (!result) {
          return false
        }
      })
    }
  },
  components: {
    ErrorList
  }
}

</script>
