<template>
  <div class="field">
    <label>{{ field.name }} </label>
    <datepicker calendar-class="inverted-calendar" v-model="field.value" :name="fieldName"></datepicker>
  </div>
</template>

<script type = "text/javascript">

import Vue from 'vue'
import Datepicker from 'vuejs-datepicker'

Vue.component('datepicker', {
  components: {
    Datepicker
  }
})

export default {
  props: ['field'],
  computed: {
    fieldName: function () {
      return this.field.name.toLowerCase().trim()
    }
  },
  components: {
    Datepicker
  }
}

</script>
