<template>
  <div class="field">
    <label>{{ field.name }}</label>
    <div class="ui compact menu">
      <div class="ui simple dropdown item">
        {{ selectedValue }}
        <input v-model="fieldValue" :name="fieldName" type="hidden" />
        <i class="dropdown icon"></i>
        <div class="menu">
          <div
            class="item"
            v-on:click="selectValue(item)"
            v-for="item in field.options"
            v-bind:key="item.key"
            :data-value="item.key">

            {{ item.value }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script type = "text/javascript">

export default {
  props: ['field'],
  data: () => ({
    fieldValue: null
  }),
  methods: {
    selectValue (item) {
      this.fieldValue = item.key
    }
  },
  computed: {
    fieldName: function () {
      return this.field.name.toLowerCase().trim()
    },
    selectedValue: function () {
      if (this.fieldValue !== null) {
        const selectedOption = this.field.options.find(option => {
          if (this.fieldValue === option.key) {
            return option
          }
        })

        if (selectedOption) {
          return selectedOption.value
        } else {
          return this.field.name
        }
      } else {
        return this.field.name
      }
    }
  }
}

</script>
