<template>
  <div class="field">
    <label>{{ field.name }} </label>
    <input type="text" :name="fieldName" placeholder="Numeric Field" v-validate="'numeric'" v-model="field.value">
    <div class="ui pointing red basic label" v-if="errors.has(fieldName)">{{ errors.first(fieldName) }}</div>
  </div>
</template>

<script type = "text/javascript">

import Vue from 'vue'
import VeeValidate from 'vee-validate'

Vue.use(VeeValidate)

export default {
  props: ['field'],
  computed: {
    fieldName: function () {
      return this.field.name.toLowerCase().trim()
    }
  }
}

</script>
