<template>
  <div class="row">
    <text-field v-bind:field="field" v-if="field.field_type == 'text'"></text-field>
    <numeric-field v-bind:field="field" v-if="field.field_type == 'numeric'"></numeric-field>
    <enum-field v-bind:field="field" v-if="field.field_type == 'enum'"></enum-field>
    <date-field v-bind:field="field" v-if="field.field_type == 'date'"></date-field>
    <div class="ui horizontal divider" />
  </div>
</template>

<script type = "text/javascript">

import TextField from './TextField'
import NumericField from './NumericField'
import EnumField from './EnumField'
import DateField from './DateField'

export default {
  props: ['field'],
  components: {
    TextField,
    NumericField,
    EnumField,
    DateField
  }
}
</script>
