<template>
  <div class="ui error message" v-show="form_errors.any()">
    <div class="header">Could you check something!</div>
    <ul class="list">
      <li v-for="item in form_errors.all()" :key="item.id"> {{ item }} </li>
    </ul>
  </div>
</template>

<script type = "text/javascript">
export default {
  props: ['form_errors']
}
</script>
