<template>
  <div class="ui card" v-on:click="viewRiskType(riskType)">
    <div class="content">
      <div class="header">{{ riskType.name }}</div>
    </div>
    <div class="content">
      <h4 class="ui sub header">Fields</h4>
      <div class="ui small feed">
        <ul class="ui list">
          <li v-for="item in riskType.fields" :key="item.id"> {{ item.name }} </li>
        </ul>
      </div>
    </div>
    <div class="extra content">
      <i class="hourglass empty icon"></i>
      Last update {{ riskType.updated_at }}
    </div>
  </div>
</template>

<script type = "text/javascript">
export default {
  props: ['riskType'],
  methods: {
    viewRiskType (riskType) {
      this.$emit('view-risk-type', riskType)
    }
  }
}
</script>
