<template>
  <div class="ui inverted fluid menu">
    <div class="right menu">
      <a class="active item">
        Home
      </a>
      <a class="ui item">
        Logout
      </a>
    </div>
  </div>
</template>
<script type = "text/javascript">
export default {
}
</script>
