<template>
  <div id="app">
    <router-view />
    <div v-show="showLoading" class="ui active dimmer">
      <div class="ui loader">
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data: () => ({
    loading: false
  }),
  name: 'App',
  methods: {
    startLoading () {
      this.loading = true
    },
    stopLoading () {
      this.loading = false
    }
  },
  computed: {
    showLoading: function () {
      return this.loading
    }
  }
}
</script>
